# IntelliJ IDEA
.idea/
shelf/
httpRequests/
dataSources/
dataSources.local.xml
*.iml
*.iws
*.ipr

# Maven
target/

# Local environment variables
.env

# Log files
*.log

./secrets/

./swiftbank-security/.venv/

./swiftbank-security/models/
./swiftbank-security/utils/